{% extends 'teacher/base.html' %}

{% block extracss %}
<style type="text/css">
  form .row {
    margin-bottom: 0px !important;
  }
</style>
{% endblock %}

{% block extrajs %}
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block page-title %}
  {% if form.name.value != None %}
    Editar Curso {{ form.name.value }}
  {% else %}
    Nuevo Curso
  {% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
    <form id="for-new-course" method="POST" class="col s12 m8 l8 offset-m1 offset-l2 card-box">
      {% csrf_token %}
      <div class="row">
        <div class="input-field col s12">
          {{ form.name }}
          <label for="{{ form.name.id_for_label }}">Nombre del Curso</label>
          {{ form.name.errors }}
        </div>        
      </div>
      <div class="row">
        <div class="input-field col s12 l6">
          {{ form.code }}
          <label for="{{ form.code.id_for_label }}">C&oacute;digo del Curso</label>
        </div>
        <div class="input-field col s12 l6">
          {{ form.semester }}
          <label for="{{ form.semester.id_for_label }}">Semestre</label>
        </div>        
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{ form.description }}
          <label for="{{ form.description.id_for_label }}">Descripción del curso</label>
        </div>
      </div>
      <div class="row right-align">
        <button class="btn waves-effect waves-light" type="submit">
          Guardar
          <i class="fa fa-send right"></i>
        </button>
      </div>  
    </form>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
<script>
  $('select').material_select();
  $(document).ready(function() {
    $('#nav-mobile ul.collapsible li#new_course').addClass('active').parent().parent().show().parent().addClass('active')
  });
</script>
{% endblock %}