{% extends 'teacher/base.html' %}

{% block extracss %}
<style type="text/css">  
  .clickable-row {
    cursor: pointer;
  }
</style>
{% endblock %}

{% block extrajs %}
{% endblock %}

{% block title %}
MAs Play - Mis Cursos
{% endblock %}

{% block page-title %}
Mis Cursos
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
    <div style="overflow-x: auto;">
      <table class="bordered card-box">
        <thead>
          <tr>
            <th data-field="code" style="min-width: 60px;">C&oacute;digo</th>
            <th data-field="name" style="min-width: 150px;">Nombre</th>
            <th data-field="description" style="min-width: 150px;">Descripción</th>
            <th data-field="semester">Semestre/A&ntilde;o</th>
            <th class="center-align" style="width: 80px" data-field="edit">Modificar</th>
          </tr>
        </thead>
        <tbody>
          {% for course in courses %}
          <tr class="clickable-row hoverable" data-href="{% url 'course:show' course.id_char %}">
            <td>{{ course.code }}</td>
            <td>{{ course.name|truncatewords_html:5 }}</td>
            <td>{{ course.description|truncatewords_html:10 }}</td>
            <td class="center-align">{{ course.semester }}/{{ course.year }}</td>
            <td class="center-align">
              <a href="{% url 'course:edit' course.id_char %}" class="waves-effect waves-light btn">
                <i class="fa fa-pencil"></i>
              </a>
            </td>          
          </tr>        
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
<script>
  $('.modal').modal();
  $(document).ready(function() {
    $("a.btn").parents('td').css("padding-bottom", "0").css("padding-top", "0");
    $('#nav-mobile ul.collapsible li#list_courses').addClass('active').parent().parent().show().parent().addClass('active');

    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });

    {% if messages %}
    {% for message in messages %}
      Materialize.toast('{{message}}', 5000, 'rounded');
    {% endfor %}
    {% endif %}
  });
</script>
{% endblock %}
