{% extends 'teacher/base.html' %}
{%load staticfiles %}

{% block extracss %}
<style type="text/css">
  .modal {
    width: 75% !important;
  }  
</style>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'js/library/js.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/course.show.js' %}"></script>
{% endblock %}

{% block title %}
  FAMA - {{course.name}}
{% endblock %}

{% block page-title %}
  {{course.name}}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12 m12 l6">
    <ul class="collection with-header">
      <li class="collection-header valign-wrapper">        
        <div class="left-align col s6">
          <h5>Historial</h5>
        </div>
        <div class="valign right-align col s6">                
            <a href="#" class="tooltipped" data-position="left" data-delay="50" data-tooltip="Ver todas">
              <i class="fa fa-list fa-2x black-text"></i>
            </a>
            <a href="#" class="tooltipped" data-position="left" data-delay="50" data-tooltip="Nueva">
              <i class="fa fa-plus-square fa-2x black-text" style="padding-left: 10px;"></i>
            </a> 
          </div>
      </li>    
      {% if plays %}
      {% for play in plays %}
      <li class="collection-item col s12">
        <div class="s12">
          <div class="col s9 list-group">
            <div class="s12 l4 list-group-item truncate">
            <i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;{{play.formative.name}}
            </div>
            <div class="s12 l4 list-group-item truncate">
              &nbsp;{{play.formative.description}}
            </div>
          </div>        
          <div class="col s3 right-align">
            <a class="waves-effect waves-light btn btn-action" href="{% url 'play:result' play.id_char %}">
              <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col s4 m4 list-group-item">
          <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{ play.duration_to_time }}
        </div>
        <div class="col s8 m4 list-group-item">
          <i class="fa fa-calendar-times-o" aria-hidden="true"></i>&nbsp;{{ play.close_play|date:"D d/M/Y" }}
        </div>
      </li>
      {% endfor %}
      {% else %}
      <a class="collection-item center-align col s12">
        <b>Comenzar primera formativa del curso</b>
      </a>
      {% endif %}
    </ul>
  </div>

  <div class="col s12 m12 l6">
    <ul class="collection with-header">
      <li class="collection-header valign-wrapper">        
        <div class="left-align col s8">
          <h5>Estudiantes</h5>
        </div>
        <div class="valign right-align col s6">          
          <a href="#add_student" class="tooltipped" data-position="left" data-delay="50" data-tooltip="Agregar estudiantes">
            <i class="fa fa-plus-square fa-2x black-text"></i>
          </a>
        </div>
      </li>
      <li class="collection-item center-align">
        <span>Estudiantes inscritos: 
          <span id="student_count" data-count='{{ students.count }}'>{{ students.count }}</span>
        </span>
      </li>
      <div id="list_students" style="max-height: 400px; overflow-y: auto;">
        {% if students %}          
        {% for student in students %}
        <li class="collection-item col s12">          
          <div class="s12">
            <div class="col s8 list-group">
              <div class="s12 l4 list-group-item truncate">
                {{student.rut}}
              </div>
              <div class="s12 l4 list-group-item truncate">
                {{student.user.first_name|title}} {{student.user.last_name|title}}
              </div>
            </div>
            <div class="s4 right-align hide">
              <a class="waves-effect waves-light btn btn-danger btn-action" data-url="" data-student-id={{student.user.id}} data-course-id="{{course.id}}">
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </li>
        {% endfor %}
        {% else %}
        <a class="collection-item center-align col s12" href="#add_student">
          <b>Comenzar primera formativa del curso</b>
        </a>
        {% endif %}        
      </div>
    </ul>
  </div>
</div>

<!-- Modal Add Student -->
<div id="add_student" class="modal">
  <div class="modal-header">
      <h5 class="modal-title">Agregar estudiantes al curso</h5>
  </div>

  <div id="modal_menu">
    <div class="modal-content row">  
      <div class="col s12">
        <a class="col m6 s12 center-align" id="manually">
          <div class="btn-box">
            <h5>Manualmente</h5>
            <i class="fa fa-keyboard-o fa-5x" aria-hidden="true"></i>
          </div>
        </a>
        <a class="col m6 s12 center-align" id="template">
          <div class="btn-box">
            <h5>Plantilla</h5>
            <i class="fa fa-file-text-o fa-5x" aria-hidden="true"></i>
          </div>
        </a>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
  </div>  

  <form class="hide" id="form_manually">    
    <div class="modal-content center-align">
      <span>Rellene los campos con los datos de los estudiantes.</span>
      <table class="bordered">
        <thead>
          <th>RUT</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th></th>
        </thead>
        <tbdoy>
          <div></div>
          <tr>
            <td colspan="4" class="center-align">
              <a id="add" class="btn-floating waves-effect waves-light green"><i class="fa fa-plus fa-4x"></i></a>
            </td>
          </tr>
        </tbdoy>
      </table>
    </div>
    <div class="modal-footer">      
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
      <button type="submit" class="btn-flat">
        <span>Guardar estudiantes</span>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw hide"></i>
      </button>      
    </div>
  </form>

  <form class="hide" id="form_template">    
    <div class="modal-content row">  
      <div class="col s12">
        <a class="col m6 s12 center-align" href="{% url 'course:download_csv' course.id %}">
          <div class="btn-box">
            <h6>Descargar Plantilla</h6>
            <i class="fa fa-arrow-circle-o-down fa-5x" aria-hidden="true"></i>
          </div>
        </a>
        <a class="col m6 s12 center-align">
          <div class="btn-box file-field">
            <h6>Cargar Plantilla</h6>
            <i class="fa fa-arrow-circle-o-down fa-5x fa-rotate-180" aria-hidden="true"></i>
            <input type="file" name="csv_file" accept="application/vnd.ms-excel" required>
          </div>
        </a>
      </div>
      <div class="col s12 file-path-wrapper input-field hide">
        <input class="file-path validate" id="name_file" type="text" placeholder="" disabled>
        <label for="name_file">Archivo seleccionado</label>
      </div>
    </div>
    <div class="modal-footer row">    
      <div class="col s12">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
        <button class="btn-flat" type="submit">
          <span>Cargar</span>
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw hide"></i>
        </button>        
      </div>
    </div>
  </form> 
</div>
<!-- End modal add student-->
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
{% endblock %}