{% extends 'teacher/base.html' %}
{%load staticfiles %}

{% block extracss %}
<style type="text/css">
  .modal {
    width: 75% !important;
  }  
</style>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/course.show.js' %}"></script>
{% endblock %}

{% block title %}
  MAs Play - {{course.name}}
{% endblock %}

{% block page-title %}
  {{course.name}}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12 m12 l7">
    <ul class="collection with-header">
      <li class="collection-header">
        <div class="valign-wrapper" style="margin-bottom: 0px">
          <div class="left-align col s6">
            <h5>Historial</h5>
          </div>
          <div class="valign right-align col s6">                
            <a href="#" class="tooltipped" data-position="left" data-delay="50" data-tooltip="Ver todas">
              <i class="fa fa-list fa-2x black-text"></i>
            </a>
            <a href="#" class="tooltipped" data-position="left" data-delay="50" data-tooltip="Nueva">
              <i class="fa fa-plus-square fa-2x black-text" style="padding-left: 10px;"></i>
            </a> 
          </div>
        </div>
      </li>
      <li class="collection-item center-align">
        <div>
          {% if formatives %}
          {% for formative in formatives %}
          <div class="card-item col s12 hoverable teal white-text valign-wrapper">
            <a href="{% url 'formative:show' formative.id %}" class="col s10" style="padding: 0px;">
              <div class="col s12 left-align">
                <span class="col s12">{{formative.name}}</span>
                <span class="col s12">{{formative.description}}</span>
              </div>
            </a>
            <a href="!#" class="col s2 tooltipped" data-position="left" data-delay="30" data-tooltip="Realizar formativa" style="padding: 0px;">
              <div class="valign col s12">
                <i id="icon-link" class="fa fa-play-circle fa-2x"></i>
              </div>
            </a>
          </div>
          {% endfor %}
          {% else %}
          <a href="#" class="card-item col s12 hoverable teal white-text">
            <span>Comenzar primera formativa del curso</span>
          </a>
          {% endif %}
          <br><br>
        </div>
      </li>            
    </ul>
  </div>

  <div class="col s12 m12 l5">
    <ul class="collection with-header">
      <li class="collection-header">
        <div class="valign-wrapper" style="margin-bottom: 0px">
          <div class="left-align col s6">
            <h5>Estudiantes</h5>
          </div>
          <div class="valign right-align col s6">
            <a href="#add_student" class="tooltipped" data-position="left" data-delay="50" data-tooltip="Agregar estudiantes">
              <i class="fa fa-plus-square fa-2x black-text"></i>                
            </a>
          </div>
        </div>
      </li>
      <li class="collection-item center-align">
        <div id="list_students" style="max-height: 400px; overflow-y: auto;">
          {% if students %}
          <span>Estudiantes inscritos: 
            <span data-count='{{ students.count }}'>{{ students.count }}</span>
          </span>
          {% for student in students %}
          <div class="card-item col s12 hoverable teal white-text valign-wrapper">
            <div class="col s10 left-align">
              <span class="col s12">{{student.rut}}</span>
              <span class="col s12">{{student.name}} {{student.last_name}}</span>
            </div>
            <a href="!#" class="col s2">
              <div class="valign col s12">
                  <i class="fa fa-trash-o fa-2x"></i>
              </div>
            </a>
          </div>
          {% endfor %}
          {% else %}
          <div clas="col s12">
            <a href="#add_student">
              <div class="card-panel teal">
                  <span class="white-text">Agrege alumnos al curso</span><br>
              </div>
            </a>
          </div>
          {% endif %}
        </div>
      </li>      
    </ul>
  </div>
</div>

<!-- Modal Add Student -->
<div id="add_student" class="modal">
  <div class="modal-header">
      <h5 class="modal-title">Agregar estudiantes al curso</h5>
  </div>

  <div id="modal_menu">
    <div class="modal-content row">  
      <div class="col s12">
        <a class="col m6 s12 center-align" id="manually">
          <div class="btn-box">
            <h5>Manualmente</h5>
            <i class="fa fa-keyboard-o fa-5x" aria-hidden="true"></i>
          </div>
        </a>
        <a class="col m6 s12 center-align" id="template">
          <div class="btn-box">
            <h5>Plantilla</h5>
            <i class="fa fa-file-text-o fa-5x" aria-hidden="true"></i>
          </div>
        </a>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
  </div>  

  <form class="hide" id="form_manually">    
    <div class="modal-content center-align">
      <span>Rellene los campos con los datos de los estudiantes.</span>
      <table class="bordered">
        <thead>
          <th>RUT</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th></th>
        </thead>
        <tbdoy>
          <div></div>
          <tr>
            <td colspan="4" class="center-align">
              <a id="add" class="btn-floating waves-effect waves-light green"><i class="fa fa-plus fa-4x"></i></a>
            </td>
          </tr>
        </tbdoy>
      </table>
    </div>
    <div class="modal-footer">      
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
      <button type="submit" class="btn-flat">Guardar estudiantes</button>      
    </div>
  </form>

  <div class="hide" id="form_template">
    <div class="modal-content row">  
      <div class="col s12">
        <a class="col m6 s12 center-align">
          <div class="btn-box">
            <h5>Descargar</h5>
            <i class="fa fa-arrow-circle-o-down fa-5x" aria-hidden="true"></i>
          </div>
        </a>
        <a class="col m6 s12 center-align">
          <div class="btn-box">
            <h5>Cargar</h5>
            <i class="fa fa-arrow-circle-o-down fa-5x fa-rotate-180" aria-hidden="true"></i>
          </div>
        </a>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
      <button type="submit" class="btn-flat">Cargar</button>  
    </div>
  </div> 

</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
<script>
  //Send form manually add student
  $('div#add_student form').submit(function(event) {
    event.preventDefault();
    var form = $( this ).serializeArray();
    console.log(form);
    var initial_students = {{ students.count }};

    var students = [];
    for (var i = 0; i < form.length; i+=3) {
      students.push([form[i]['value'], form[i+1]['value'], form[i+2]['value']]);
    }

    $.ajax({
      url: "{% url 'course:add_students' course.id %}",
      type: 'POST',
      headers: {'X-CSRFToken': Cookies.get('csrftoken')},
      dataType: 'json',
      data: {students: students},
    })
    .done(function( data ) {
      $.each(data, function(index, val) {
        if (initial_students == 0) {
          $('#list_students').empty().append("<span>Estudiantes inscritos: <span data-count='{{ students.count }}'>{{ students.count }}</span></span>");
          initial_students++;
        }
         var card = "<div class='card-item col s12 hoverable teal white-text valign-wrapper'>";
            card += "<div class='col s10 left-align'>";
            card += "<span class='col s12'>"+val.rut+"</span>";
            card += "<span class='col s12'>"+val.name+" "+val.last_name+"</span>";
            card += "</div>"
            card += "<a href='!#'' class='col s2'>";
            card += "<div class='valign col s12'>";
            card += "<i class='fa fa-trash-o fa-2x'></i>";
            card += "</div></a></div>";
         $(card).insertAfter('#list_students span>span').fadeIn(800);
      });
      var count = $('#list_students span>span').data('count');
      $('#list_students span>span').html(count+Object.keys(data).length);
      $('#list_students span>span').data('count', count+Object.keys(data).length);
      if (Object.keys(data).length == 1) {
        Materialize.toast('Se agregó un nuevo estudiante', 5000, 'rounded')
      } else {
        Materialize.toast('Se agregaron '+Object.keys(data).length+' nuevos estudiantes', 5000, 'rounded')
      }

    })
    .fail(function() {
      Materialize.toast('Un error a ocurrido. Intento nuevamente', 5000, 'rounded')
    });

    $('div#add_student').modal('close');
  });
</script>
{% endblock %}