{% extends 'student/base.html' %}
{% load staticfiles %}

{% block extracss%}
{% endblock %}

{% block extrajs%}
{% endblock %}

{% block title %}
  FAMA
{% endblock %}

{% block page-title %}
  Mis Formativas
{% endblock %}

{% block content %}
{% if active_plays %}
<div class="row last-row">
  <div class="col s12">
    <ul class="collection with-header">
      <li class="collection-header">        
        <h5>Disponibles</h5>
      </li>
      {% for play in active_plays %}       
      <a class="collection-item col s12 black-text" href="{% url 'play:show' play.id_char %}">
        <div class="s12">
          <div class="col s9 list-group">
            <div class="s12 l4 list-group-item truncate">
            <i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;{{play.formative.name}}
            </div>
            <div class="s12 l4 list-group-item">
              <i class="fa fa-users" aria-hidden="true"></i>&nbsp;{{play.course.name}}
            </div>
          </div>        
          <div class="col s3 right-align">
            <div class="waves-effect waves-teal btn btn-action">
              <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
            </div>  
          </div>
        </div>
        <div class="col s12 l4 list-group-item">
          <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{ play.duration_to_time }}
        </div>
      </a>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
{% if closed_plays %}
<div class="row">
  <div class="col s12">
    <ul class="collection with-header">
      <li class="collection-header">        
        <h5>Terminadas</h5>
      </li>
      {% for play in closed_plays %}
      <a class="collection-item col s12 black-text" href="#">
        <div class="s12">
          <div class="col s9 list-group">
            <div class="s12 l4 list-group-item truncate">
            <i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;{{play.formative.name}}
            </div>
            <div class="s12 l4 list-group-item">
              <i class="fa fa-users" aria-hidden="true"></i>&nbsp;{{play.course.code}} - {{play.course.name}}
            </div>
          </div>        
          <div class="col s3 right-align">
            <div class="waves-effect waves-teal btn btn-action">
              <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
            </div>  
          </div>
        </div>
        <div class="col s4 m4 l4 list-group-item">
          <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{ play.duration_to_time }}
        </div>
        <div class="col s8 m4 l4 list-group-item">
          <i class="fa fa-calendar-times-o" aria-hidden="true"></i>&nbsp;{{ play.close_play|date:"D d/M/Y" }}
        </div>
      </a>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
{% endblock %}