# Add any directories, files, or patterns you don't want to be tracked by version control

# Credentials app Django (DataBase and Keys)
play/credentials.json

# Python cache files
**/__pycache__

# Questions
preguntas/*
#preguntas/*.xml
#preguntas/*.zip

# Logs files
logs/*

# Server settings files
play/settings-files/*
play/settings.py*

# SFTP config
sftp-config.json

# Mac
.DS_Store
