{% extends 'teacher/base.html' %}
{%load staticfiles %}

{% block extracss%}
<style type="text/css">
  .dashed-border{
    /*background-color: grey;*/
    color: black;  
    border: 1px dashed grey;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;    
  }

  .last-row {
    margin-bottom: 0px;
  }

  td {
    padding: 0px 5px;
  }
  
  #answers_table {
    margin-bottom: 5px;
  }
  #answers_table input {
    margin-bottom: 0px;
    height: 22px;
  }

  #answers_table label {
    margin: 0px 5px 0px 0px;
    padding: 0px;
  }

  #eliminar_foto {
    display: block;
    right:-80%;    
  }
</style>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'js/library/jquery.simplePagination.js' %}"></script>
<script type="text/javascript" src="{% static 'js/library/js.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/library/XMLWriter-1.0.0.js' %}"></script>
<script type="text/javascript" src="{% static 'js/library/Blob.js' %}"></script>
<script type="text/javascript" src="{% static 'js/library/FileSaver.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/library/jszip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/question.create_associate.js' %}"></script>
{% endblock %}

{% block title %}
  FAMA - T&eacute;rminos Pareados
{% endblock %}

{% block page-title %}
Crear T&eacute;rminos Pareados
{% endblock %}

{% block content %}

<div class="row">
  <div class="col s12">
    <form  enctype="multipart/form-data" class="col s12 m10 l8 offset-m1 offset-l2 card-box">
      
      <div class="row">
        <div class="col s12 center-align">
          <div class="col s4">
            <button id="save_question" type="submit" class="waves-effect waves-light btn col s12">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              <span class="hide-on-small-only">Guardar</span>
            </button>
          </div>
          <div class="col s4">
            <button id="download_question" type="submit" class="waves-effect waves-light btn col s12">
              <i class="fa fa-download" aria-hidden="true"></i>
              <span class="hide-on-small-only">Descargar</span>
            </button>
          </div>
          <div class="col s4">
            <button class="waves-effect waves-light btn col s12" type="button" data-action="preview_question">
              <i class="fa fa-eye" aria-hidden="true"></i>
              <span class="hide-on-small-only">Visualizar</span>
            </button>  
          </div>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12" >
          <i class="fa fa-pencil prefix" aria-hidden="true"></i>
          <input class="titulo-choice validate" placeholder="Ejemplo: Zona Horaria" data-length="30" maxlength="30" id="title" type="text" value={{questions.assessmentItem.title}}>
          <label for="title">Título de la pregunta (Opcional)</label>
        </div>
        <div class="input-field col s12" >
          <i class="fa fa-pencil prefix" aria-hidden="true"></i>
          <input class="texto_alternativo validate"  placeholder="Ejemplo: Sin considerar el horario de verano o respecto a la imagen siguiente" data-length="100" maxlength="100" id="alternative_text"  type="text" value="{{questions.itemBody.alternativeText}}">
          <label for="alternative_text">Texto complementario (Opcional)</label>
        </div>
      </div>

      <div class="row dashed-border">         
        <div class="file-field input-field">
          <div class="btn">
            <i class="fa fa-picture-o" aria-hidden="true"></i>
            <span class="hide-on-med-and-down">Agregar imagen</span>
            <input id="imagen" type="file" name="archivo" accept="image/*"/>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path" id="input_foto" name="sitebg" type="text" placeholder="Imagen Opcional">
          </div>
        </div>        
        <div id="imagen-desplegada" class="center-align">
          {% if questions.itemBody.img.src %}
            <img style='top:-20px;position: relative;' src='{{questions.code}}/{{questions.itemBody.img.src}}' width='350px'/>
            <a id='eliminar_foto' class='btn-floating waves-effect waves-light btn-large btn-danger'><i class='fa fa-trash-o fa-2x' aria-hidden='true'></i></a>
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12" >
          <i class="fa fa-pencil prefix" aria-hidden="true"></i>
          <input class="pregunta-choice validate" placeholder="Ejemplo: ¿Cuál es la zona horaria chilena?" data-length="100" maxlength="100" id="question" type="text" value="{{questions.itemBody.associateInteraction.question}}" required>
          <label for="question">Pregunta</label>
        </div>
      </div>

      <div id="mensaje"></div>

      <div class="row dashed-border">
        <table id="answers_table">
          <thead>
            <tr>
              <th>Respuesta</th>
              <th class="center-align" style="min-width: 75px; max-width: 75px; width: 75px;">Acci&oacute;n</th>
              <th class="center-align" style="min-width: 75px; max-width: 75px; width: 75px;">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            {% for alternativa in questions.itemBody.associateInteraction.associateChoice %}
            <tr id="{{ forloop.counter }}" >
              <td>
                <input class="respuesta" id="{{ forloop.counter }}" type="text" placeholder="Ejemplo: GTM-3" data-content="alternative" value="{{alternativa.alternative}}" required>
              </td>
              <td class="center-align">
                <i id="1" class="up fa fa-caret-up fa-3x" aria-hidden="true"></i>
                <i id="1" class="down fa fa-caret-down fa-3x" aria-hidden="true"></i>
              </td>            
              <td>
                <button id="1" type="button" class="waves-effect waves-light btn btn-danger" data-action="delete-row">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      
        <div class="col s12" style="padding-bottom: 10px;">
          <button class="waves-effect waves-light btn col s12" id="add_alternative" type="button">agregar nueva alternativa</button>
        </div>

      </div>

      <div class="row dashed-border">
        <table id="miTabla2">
          <thead>
            <tr>
                <th>Alternativa 1</th>
                <th>Alternativa 2</th>
                <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            {% for correcta in questions.responseDeclaration.correctResponse %}
            <tr id="{{ forloop.counter }}" class="center-align" style="padding-bottom: 10px;">
              
              <td>
                <select class="{{alternativa.identifier}}" id="{{ forloop.counter }}" style="display:inline;height: auto;">
                    {% for alternativa in questions.itemBody.associateInteraction.associateChoice %}
                    {% if correcta.text1 == alternativa.identifier %}
                    <option value="{{correcta}}">{{alternativa.alternative}}</option>
                    {% endif %}
                    {% endfor %}      
                </select>
              </td>
              <td>
                <select class="{{alternativa.identifier}}" id="{{ forloop.counter }}" style="display:inline;height: auto;">
                    {% for alternativa in questions.itemBody.associateInteraction.associateChoice %}
                    {% if correcta.text2 == alternativa.identifier %}
                    <option value="{{correcta}}">{{alternativa.alternative}}</option>
                    {% endif %}
                    {% endfor %}    
                </select>
              </td>
              <td style="padding-bottom: 10px;">
                <button class="eliminar waves-effect waves-light btn btn-danger" id="{{ forloop.counter }}" type="button" data-action="delete-row"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              </td>
              
            </tr>
            {% endfor %}
          </tbody>
        </table>
            
        <div class="col s12" style="padding-bottom: 10px;">
          <button class="waves-effect waves-light btn col s12" id="agregar-relacion" type="button">agregar nuevo par</button>
        </div>
      </div>  

      <div class="row last-row">
        <div class="col s12 center-align">
          <div class="col s4">
            <button id="save_question" type="submit" class="waves-effect waves-light btn col s12">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              <span class="hide-on-small-only">Guardar</span>
            </button>
          </div>
          <div class="col s4">
            <button id="download_question" type="submit" class="waves-effect waves-light btn col s12">
              <i class="fa fa-download" aria-hidden="true"></i>
              <span class="hide-on-small-only">Descargar</span>
            </button>
          </div>
          <div class="col s4">
            <button class="waves-effect waves-light btn col s12" type="button" data-action="preview_question">
              <i class="fa fa-eye" aria-hidden="true"></i>
              <span class="hide-on-small-only">Visualizar</span>
            </button>  
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% include "functions/modal_preview_question.html" %}

{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
    $("button").parents('td').css("padding-bottom", "0").css("padding-top", "0");
    $('#nav-mobile ul.collapsible li#simple_choice').addClass('active').parent().parent().show().parent().addClass('active');  
  });
</script>
{% endblock %}