{% extends 'student/base.html' %}
{% load staticfiles %}

{% block extracss%}
{% endblock %}

{% block extrajs%}
<script src="{% static 'js/question.reply_order.js' %}"></script>
{% endblock %}

{% block title %}
  FAMA
{% endblock %}

{% block title-page %}
{% endblock %}

{% block content %}
<div class="row reply-container">
  <div class="row title-container">
    <div class="col s12 center-align">
      <h5 class="title">Pregunta</h5>
    </div>
  </div>
  <div class="col s12">
    <div class="col s12 question-container dashed-border">
      {% if question.itemBody.alternativeText %}
        <div class="col s12 text">{{ question.itemBody.alternativeText|safe }}</div>
      {% endif %}
      <div class="col s12 dashed-border question center-align">{{ question.itemBody.orderInteraction.question|safe }}
      </div>
      {% if question.itemBody.img %}
        <div class="center-align">
          <img class="responsive-img materialboxed image" style="margin: 0 auto;" src="/preguntas/{{ question.code }}/{{ question.itemBody.img.src }}">
        </div>
      {% endif %}
    </div>
  </div>
  <div class="col s12">
    <ul class="collection">
      <li class="collection-item center-align">Presione las flechas para ordenar</li>
      <table>
        <tbody id="tablacopia">
          <label> {{answer.answer}} </label>
          {% if answer.answer != None %}
            {% for ans in answer.answer %}
            <tr id="{{ forloop.counter }}">
              <td>
                <input  type="text" id="{{ ans.identifier }}" class="respuesta" value="{{ans.alternative}}" disabled style="color:black">
              </td>
              <td class="center-align">
                <i id="1" class="up fa fa-caret-up fa-3x" aria-hidden="true"></i>
                <i id="1" class="down fa fa-caret-down fa-3x" aria-hidden="true"></i>
              </td>
            </tr>
            {% endfor %}
          {% else %}
            {% for alternativa in question.itemBody.orderInteraction.simpleChoice %}
            <tr id="{{ forloop.counter }}">
              <td>
                <input  type="text" id="{{ alternativa.identifier }}" class="respuesta" value="{{alternativa.alternative}}" disabled style="color:black">
              </td>
              <td class="center-align">
                <i id="1" class="up fa fa-caret-up fa-3x" aria-hidden="true"></i>
                <i id="1" class="down fa fa-caret-down fa-3x" aria-hidden="true"></i>
              </td>
            </tr> 
            {% endfor %}
          {% endif %}
      </tbody>
      </table>
    </ul>
  </div>
  <div class="row">
    <div class="col s12">
      <a class="col s12 waves-effect waves-light btn reply-btn">Responder</a>
    </div>
  </div>
  <div class="row center-align reply-control">
    <div class="col s4">
      {% if question.prev %}
      <a href="{% url 'play:reply' play.id_char question.prev %}">
        <i class="fa fa-angle-double-left fa-2x" aria-hidden="true"></i>
      </a>
      {% endif %}
    </div>
    <div class="col s4">
      <!-- <a href="{% url 'play:show' play.id_char %}">
        <i class="fa fa-list fa-2x" aria-hidden="true"></i>
      </a> -->
    </div>
    <div class="col s4">
    {% if question.next %}
      <a href="{% url 'play:reply' play.id_char question.next %}">
        <i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i>
      </a>
    {% else %}
      <a class="waves-effect red darken-4 btn" href="{% url 'student:home' %}" >Finalizar Formativa</a>
    {% endif %}
    </div>
  </div>

</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
{% endblock %}