{% extends 'teacher/base.html' %}
{% load staticfiles %}

{% block extracss%}
{% endblock %}

{% block extrajs%}
<script type="text/javascript" src="{% static 'js/library/js.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/library/jquery.countdown.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/functions.start_formative.js' %}"></script>
<script type="text/javascript" src="{% static 'js/teacher.home.js' %}"></script>
<script type="text/javascript" src="{% static 'js/play.play.js' %}"></script>
{% endblock %}

{% block title %}
  FAMA - Formative Assessment using Mobile Accessory
{% endblock %}

{% block page-title %}
  FAMA
{% endblock %}

{% block content %}
{% if active_plays %}
<div class="row last-row">
  <div class="col s12">
    <ul class="collection with-header">
      <li class="collection-header">        
        <h5>Formativas en curso</h5>
      </li>
      {% for play in active_plays %}                          
        <li class="collection-item col s12">
          <div class="s12">
            <div class="col s7 m8 list-group">
              <div class="s12 l4 list-group-item truncate">
              <i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;{{play.formative.name}}
              </div>
              <div class="s12 l4 list-group-item">
                <i class="fa fa-users" aria-hidden="true"></i>&nbsp;{{play.course.name}}
              </div>
              <div class="s12 l4 list-group-item">
                <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{ play.duration_to_time }}
              </div>
            </div>
            <div class="col s5 m4 right-align">
              <div class="waves-effect waves-ligth btn btn-danger stop-formative" data-url="{% url 'play:stop' %}" data-play-id="{{play.id}}">
                <i class="fa fa-stop fa-2x" aria-hidden="true"></i>
              </div>
              <a class="btn waves-effect waves-light" href="{% url 'play:result' play.id_char %}">
                <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </li>
        {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
{% if closed_plays %}
<div class="row last-row">
  <div class="col s12">
    <ul class="collection with-header">
      <li class="collection-header valign-wrapper">        
        <div class="left-align col s10">
          <h5>Formativas finalizadas</h5>
        </div>
        <div class="valign right-align col s2">
          <a href="#">
            <i class="fa fa-list fa-2x" style="color: #000000"></i>
          </a>
        </div>
      </li>
      {% for play in closed_plays %}
        <li class="collection-item col s12">
          <div class="s12">
            <div class="col s9 list-group">
              <div class="s12 l4 list-group-item truncate">
              <i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;{{play.formative.name}}
              </div>
              <div class="s12 l4 list-group-item truncate">
                <i class="fa fa-users" aria-hidden="true"></i>&nbsp;{{play.course.name}}
              </div>
            </div>        
            <div class="col s3 right-align">
              <a class="btn waves-effect waves-light" href="{% url 'play:result' play.id_char %}">
                <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="col s4 m4 list-group-item">
            <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{ play.duration_to_time }}
          </div>
          <div class="col s8 m4 list-group-item">
            <i class="fa fa-calendar-times-o" aria-hidden="true"></i>&nbsp;{{ play.close_play|date:"D d/M/Y" }}
          </div>
        </li>
      {% endfor %}
      
    </ul>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col s12 m6 l6">
    <ul class="collection with-header">
      <li class="collection-header">
        <div class="valign-wrapper" style="margin-bottom: 0px">
          <div class="left-align col s8">
            <h5>Mis Formativas</h5>
          </div>
          <div class="valign right-align col s4">
            <a href="{% url 'formative:index' %}" class="tooltipped" data-position="left" data-delay="50" data-tooltip="Ver todas">
              <i class="fa fa-list fa-2x" style="color: #000000"></i>
            </a>
            <a href="{% url 'formative:create' %}" class="tooltipped" data-position="left" data-delay="50" data-tooltip="Nueva">
              <i class="fa fa-plus-square fa-2x" style="padding-left: 10px; color: #000000;"></i>
            </a> 
          </div>
        </div>
      </li>
      <li class="collection-item center-align">
        <b>&Uacute;ltimas formativas creadas</b>
        <div>
          {% if formatives %}
          {% for formative in formatives %}
          <div class="card-item col s12 hoverable valign-wrapper">
            <a class="col s10" style="padding: 0px;">
              <div class="col s12 left-align">
                <span class="col s12">{{formative.name}}</span>
                <span class="col s12">{{formative.description}}</span>
              </div>
            </a>
            <a class="col s2 tooltipped start-formative" data-url="{% url 'course:all' %}" data-formative-id={{formative.id}} data-formative-name="{{formative.name}}" data-position="left" data-delay="30" data-tooltip="Realizar formativa" style="padding: 0px;">
              <div class="valign col s12">
                  <i id="icon-link" class="fa fa-play-circle fa-2x"></i>
              </div>
            </a>
          </div>
          {% endfor %}
          <b>Actualmente posee {{total_formatives}} formativas</b>
          {% else %}
          <a href="{% url 'formative:create' %}">
            <div class="card-item hoverable teal white-text center-align">
              <span>Cree su primera formativa</span>
            </div>
          </a>
          {% endif %}
        </div>
      </li>      
    </ul>
  </div>

  <div class="col s12 m6 l6">
    <ul class="collection with-header">
      <li class="collection-header">
        <div class="valign-wrapper" style="margin-bottom: 0px">
          <div class="left-align col s8">
            <h5>Mis Cursos</h5>
          </div>
          <div class="valign right-align col s4">                
            <a href="{% url 'course:index' %}" class="tooltipped" data-position="left" data-delay="50" data-tooltip="Ver todos">
              <i class="fa fa-list fa-2x black-text"></i>
            </a>
            <a href="{% url 'course:create' %}" class="tooltipped" data-position="left" data-delay="50" data-tooltip="Nuevo">
              <i class="fa fa-plus-square fa-2x black-text" style="padding-left: 10px;"></i>
            </a>
          </div>
        </div>
      </li>
      <li class="collection-item center-align">
        <b>&Uacute;ltimos cursos creados</b>
        <div>
          {% if courses %}
          {% for course in courses %}
          <div class="card-item col s12 hoverable teal white-text valign-wrapper">
              <a href="{% url 'course:show' course.id_char %}" class="col s12" style="padding: 0px;">
                <div class="col s12 left-align">
                  <span class="col s12">{{course.code}}</span>
                  <span class="col s12">{{course.name}}</span>
                </div>
              </a>
            </div>
          {% endfor %}
          <b>Actualmente posee {{total_course}} cursos</b>
          {% else %}
          <a href="{% url 'course:create' %}" style="padding: 0px;">
            <div class="card-item hoverable teal white-text center-align">
              <span>Cree su primer curso</span>
            </div>
          </a>
          {% endif %}
        </div>
      </li>      
    </ul>
  </div>
</div>

{% include "functions/modal_start_formative.html" %}

{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
<script>
  $("a.btn").parents('td').css("padding-bottom", "0").css("padding-top", "0");
</script>
{% endblock %}