{% extends 'teacher/base.html' %}
{%load staticfiles %}

{% block extracss%}
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'js/jquery.simplePagination.js' %}"></script>
<script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/teacher.questions.js' %}"></script>
{% endblock %}

{% block title %}
MAs Play - Mis Preguntas
{% endblock %}

{% block page-title %}
Mis Preguntas
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
    <!--<button class="guardar_pregunta" type="button">Guardar pregunta</button>-->
    <!-- <input  type="text"      id='1' class="respuesta"> -->
    <div style="width:100%;overflow:scroll;">
      <table id="miTabla-mispreguntas" class="col s12 bordered card-box" style="min-width: 800px;">
        <thead>
          <tr>
            <th>Compartir</th>
            <th>Código</th>
            <th>Tipo</th>
            <th>Titulo</th>
            <th>Fecha</th>
            <!-- <th>Editar</th> -->
            <th>Descargar</th>
            <th>Visualizar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
      
        <tbody class="galler">
          {% if questions %}
          {% for question in questions %}
          <tr id='{{question.id}}'>
            {% if question.share == 0 %}
              <td style="">
                <div class="switch">
                  <label>No<input type="checkbox" id='{{question.id}}'><span class="lever"></span>Si</label>
                </div>
              </td>
              <td style="" class="codigo" id='{{question.id}}'></td>
            {% else %}                
              <td style="width:110px;">
                <div class="switch">
                  <label>No<input checked="" type="checkbox" id='{{question.id}}'><span class="lever"></span>Si</label>
                </div>
              </td>
              <td style="width:90px;" class="codigo" id='{{question.id}}'>{{question.code}}</td>
            {% endif %}
            <td>{{question.type}}</td>
            <td>{{question.title}}</td>
            <td>{{question.creation_date|date:"Y-m-d"}}</td>
            <td style="padding: 0px 2px;width:100px;">
              <button style="font-size:13px;" class="descargar waves-effect waves-light btn" id='quesion.id' type="button">
                <i class="fa fa-download" aria-hidden="true"></i>
              </button>
            </td>
            <td style="padding: 0px 2px;width:100px;">
              <button style="font-size:13px;" class="visualizar waves-effect waves-light btn" id='quesion.id' type="button">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button>
            </td>
            <td style="padding: 0px 2px;width:100px;">
              <button style="font-size:13px;background-color:#ee6e73;" class="eliminar waves-effect waves-light btn" id='quesion.id' type="button">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          {% endfor %}
          {% else %}
          No posee preguntas
          {% endif %}
        </tbody>      
      </table>
    </div>
    <div style="width:100%;height:50px;border:0px solid black;">
      <center><div class="pagination"></div></center>
    </div>
    
    <button style="display:none;" class="waves-effect waves-light btn modal-trigger" id="modal-text-mis-preguntas" href="#modal1">Visualizar</button>
      
    <div id="modal1" class="modal">
      <div class="modal-content" id="modal-content-mis-preguntas">
      </div>

      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
      </div>
    </div>

    <div id="parte" style="display:none;">
      <?php include 'choice-edit.php' ?>
    </div>

  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
    $('#nav-mobile ul.collapsible li#list_questions').addClass('active').parent().parent().show().parent().addClass('active')

    /* Pagination */
    var perPage = 10;
    var opened = 1;
    var onClass = 'active';
    var paginationSelector = '.pagination';
    $('.galler').simplePagination(perPage, opened, onClass, paginationSelector);    
  });
</script>
{% endblock %}