{% extends 'teacher/base.html' %}
{% load staticfiles %}

{% block extracss%}
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/library/jquery.simplePagination.js' %}"></script>
<script src="{% static 'js/library/js.cookie.js' %}"></script>
<script src="{% static 'js/library/Blob.js' %}"></script>
<script src="{% static 'js/library/FileSaver.min.js' %}"></script>
<script src="{% static 'js/library/jquery.fileDownload.js' %}"></script>
<script src="{% static 'js/question.manage.js' %}"></script>
<script src="{% static 'js/question.process_type.js' %}"></script>
<script src="{% static 'js/functions.fill_preview_modal.js' %}"></script>
<script src="{% static 'js/teacher.questions.js' %}"></script>
{% endblock %}

{% block title %}
  FAMA - Mis Preguntas
{% endblock %}

{% block page-title %}
  Mis Preguntas
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
    <div style="overflow-x:auto;">
      <table id="miTabla-mispreguntas" class="col s12 bordered card-box">
        <thead>
          <tr>            
            <th class="left-align" style="min-width: 150px;">Pregunta</th>
            <th class="left-align" style="width: 170px;">Tipo</th>
            <th class="center-align" style="width: 160px;">Creada el</th>
            <th class="center-align" style="width: 150px;">Acciones</th>
          </tr>
        </thead>
      
        <tbody class="galler">
          {% if questions %}
            {% for question in questions %}
            <tr id='{{question.data.id}}'>
              <td>{{question.question|safe}}</td>
              <td>{{question.data.spanish_type}}</td>
              <td class="center-align">              
              <!--{{question.data.incorporation_date|date:"d M Y"}}--> {{question.data.incorporation_date|date:"D d/M/Y"}}
              </td>
              <td class="center-align">
                <button class="waves-effect light-blue btn btn-action" id='{{question.data.id}}' data-action="edit">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button class="waves-effect green btn btn-action" id='{{question.data.id}}' data-action="preview">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
                <button class="waves-effect orange btn btn-action" id='{{question.data.id}}' data-action="download">
                  <i class="fa fa-download" aria-hidden="true"></i>
                </button>
                <button class="waves-effect red btn btn-action" id='{{question.data.id}}' data-action="delete">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
    <div >
      <center><div class="pagination"></div></center>
    </div>
  </div>
</div>

{% include "functions/modal_preview_question.html" %}

{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
    $("button").parents('td').css("padding-bottom", "0").css("padding-top", "0");
    $('#nav-mobile ul.collapsible li#list_questions').addClass('active').parent().parent().show().parent().addClass('active');

    /* Pagination */
    var perPage = 7;
    var opened = 1;
    var onClass = 'active';
    var paginationSelector = '.pagination';
    $('.galler').simplePagination(perPage, opened, onClass, paginationSelector);    
  });
</script>
{% endblock %}