{% extends 'teacher/base.html' %}
{%load staticfiles %}

{% block extracss%}
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'js/jquery.simplePagination.js' %}"></script>
<script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/question.manage.js' %}"></script>
<script type="text/javascript" src="{% static 'js/question.process_type.js' %}"></script>
<script type="text/javascript" src="{% static 'js/teacher.fill_preview_modal.js' %}"></script>
<script type="text/javascript" src="{% static 'js/teacher.questions.js' %}"></script>
{% endblock %}

{% block title %}
MAs Play - Mis Preguntas
{% endblock %}

{% block page-title %}
Mis Preguntas
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
    <!--<button class="guardar_pregunta" type="button">Guardar pregunta</button>-->
    <!-- <input  type="text"      id='1' class="respuesta"> -->
    <div style="width:100%;overflow:scroll;">
      <table id="miTabla-mispreguntas" class="col s12 bordered card-box" style="min-width: 800px;">
        <thead>
          <tr>
            <th class="center-align" style="width: 105px">Compartir</th>
            <th class="center-align" style="width: 100px">Código</th>
            <th class="center-align" style="width: 150px">Tipo</th>
            <th class="center-align">Titulo</th>
            <th class="center-align" style="width: 100px">Fecha</th>
            <!-- <th>Editar</th> -->
            <th class="center-align" style="width: 100px">Descargar</th>
            <th class="center-align" style="width: 100px">Visualizar</th>
            <th class="center-align" style="width: 100px">Eliminar</th>
          </tr>
        </thead>
      
        <tbody class="galler">
          {% if questions %}
          {% for question in questions %}
          <tr id='{{question.id}}'>
            {% if question.share == 0 %}
              <td>
                <div class="switch">
                  <label>No<input type="checkbox" id='{{question.id}}'><span class="lever"></span>Si</label>
                </div>
              </td>
              <td class="codigo center-align" id='{{question.id}}'></td>
            {% else %}                
              <td>
                <div class="switch">
                  <label>No<input checked="" type="checkbox" id='{{question.id}}'><span class="lever"></span>Si</label>
                </div>
              </td>
              <td class="codigo center-align" id='{{question.id}}'>{{question.code}}</td>
            {% endif %}
            <td>{{question.type}}</td>
            <td>{{question.title}}</td>
            <td class="center-align">{{question.creation_date|date:"Y-m-d"}}</td>
            <td class="center-align">
              <button style="font-size:13px;" class="waves-effect waves-light btn" id='quesion.id' type="button">
                <i class="fa fa-download" aria-hidden="true"></i>
              </button>
            </td>
            <td class="center-align">
              <button style="font-size:13px;" class="waves-effect waves-light btn" id='quesion.id' type="button">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button>
            </td>
            <td class="center-align">
              <button style="background-color:#ee6e73;" class="waves-effect waves-light btn" id='quesion.id' type="button">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          {% endfor %}
          {% else %}
          No posee preguntas
          {% endif %}
        </tbody>      
      </table>
    </div>
    <div style="width:100%;height:50px;border:0px solid black;">
      <center><div class="pagination"></div></center>
    </div>
    
    <button style="display:none;" class="waves-effect waves-light btn modal-trigger" id="modal-text-mis-preguntas" href="#modal1">Visualizar</button>
      
    <div id="modal1" class="modal">
      <div class="modal-content" id="modal-content-mis-preguntas">
      </div>

      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
      </div>
    </div>

    <div id="parte" style="display:none;">
      <?php include 'choice-edit.php' ?>
    </div>

  </div>
</div>

<div id="preview_modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <div class="row">
      <div id="banner_preview" class="col s12">
        <div class="col s6 teal center-align">
          <h5 class="white-text"></h5>
        </div>
        <div class="col s6 center-align">
          <h5><i>Vista Previa</i></h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="content_preview" class="col s12"></div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
    $("button").parents('td').css("padding-bottom", "0").css("padding-top", "0");
    $('#nav-mobile ul.collapsible li#list_questions').addClass('active').parent().parent().show().parent().addClass('active');

    /* Pagination */
    var perPage = 7;
    var opened = 1;
    var onClass = 'active';
    var paginationSelector = '.pagination';
    $('.galler').simplePagination(perPage, opened, onClass, paginationSelector);    
  });
</script>
{% endblock %}