[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#formative-questions {
  border: 2px dashed gray;
  color: black;
  min-height: 200px;
}

#formative-questions.over {
  border-color: black;
  color: gray;
}

#list-question-for-formative {
  border: 1px dashed gray;
  min-height: 200px;
}

.place-holder {
  background-color: teal;
  width: 100%;
}