header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

body {
  background-color: #eeeeee;
}

a {
  color: white;
}

.side-nav {
  width: 240px !important;
}

/* Materialize */
.collection {
  border-radius: 0px !important;
}

.collection-item {
  padding: 10px 20px !important;
}

.card-box,
.card-item {
  padding: 7px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  border-radius: 0px !important;
}

.card-box {
  border: 1px solid #e0e0e0 !important;
  background-color: white !important;
}

/* Buttons */
.btn-danger {
  background-color: #ee6e73;
}

.btn-danger:hover {
  background-color: #f18487;
}

.btn-danger:focus {
  background-color: #e74046;
}

/* Modal Preview */
#banner_preview,
#preview_modal .modal-content {
  padding: 0px !important;
}

#content_preview {
  padding-left: 24px;
  padding-right: 24px;
}

/* Modal add student */
.modal .modal-content.row,
.modal .modal-footer.row {
  margin-bottom: 0px;
}

.modal .modal-header {
  background-color: #009688;
  color: #fff;
}

.modal-header .modal-title {
  margin: 0px;
  text-align: center;
  padding: 10px 0px;
}

.btn-box {
  color: #000;  
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 5px 0px; 
  cursor: pointer;
  margin-bottom: 5px;
}

.btn-box:hover {
  color: #000;
  border: 1px dashed #e0e0e0;
  border-radius: 10px;
  padding: 5px 0px;
  cursor: pointer;  
  margin-bottom: 5px;
}

/* Icons */
i.prefix.fa {
  color: #807B7B;
}