header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

body {
  background-color: #eeeeee;
}

a {
  color: white;
}

.side-nav {
  width: 240px !important;
}

.collection {
  border-radius: 0px !important;
}

.collection-item {
  padding: 10px 20px !important;
}

.card-box,
.card-item {
  padding: 7px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  border-radius: 0px !important;
}

.card-box {
  border: 1px solid #e0e0e0 !important;
  background-color: white !important;
}

.btn-danger {
  background-color:#ee6e73;
}

.btn-danger:hover {
  background-color: #f18487;
}

.btn-danger:focus {
  background-color: #e74046;
}

#banner_preview,
.modal-content {
  padding: 0px !important;
}

#content_preview {
  padding-left: 24px;
  padding-right: 24px;
}