{% extends 'login/base.html' %}
{%load staticfiles %}

{% block extracss %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
{% endblock %}

{% block title %}
Crear cuenta
{% endblock %}

{% block content %}
  <div class="contenedor">
    <div class="row">
      <div style="background-color:#26a69a;width:100%;height:100px;margin-bottom:20px;">
        <center>
          <p id="iniciar">Crear Cuenta</p>
        </center>
      </div>
      <center>
        <div id="error_form" class="error-message"></div>
      </center>
      <form class="col s12" id="create_account" method="POST" action="{% url 'login:create_account' %}">
        {% csrf_token %}
        <div class="row" style="margin-bottom: 0px;">
          <div class="input-field col s12">
            <i class="fa fa-envelope prefix" aria-hidden="true"></i>
            <input name="email" type="email" class="validate" maxlength="100" length="100" required>
            <label for="email">Correo</label>
          </div>
          <div id="error_email" class="center-align" style="display: none">
            <a style="color:#26a69a;" href="{% url 'login:login' %}">Ingresar con mi cuenta</a>
          </div>
        </div>

        <div class="row" style="margin-bottom: 0px;">
          <div class="input-field col s12">
            <i class="fa fa-key prefix" aria-hidden="true"></i>
            <input name="password1" type="password" class="validate" required>
            <label for="password1">Contrase&ntilde;a</label>
          </div>
        </div>
        <!--
        <div class="row" style="margin-bottom: 0px;">
          <div class="input-field col s12">
            <i class="fa fa-key prefix" aria-hidden="true"></i>
            <input name="password2" type="password" class="validate" required>
            <label for="password2">Repetir contrase&ntilde;a</label>
          </div>
        </div>
        -->
        <div class="row" style="margin-bottom: 0px;">
          <div class="input-field col s12">
            <i class="fa fa-user prefix" aria-hidden="true"></i>
            <input name="first_name" type="text" length="30" maxlength="30" class="validate" required>
            <label for="first_name">Nombre</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <i class="fa fa-user prefix" aria-hidden="true"></i>
            <input name="last_name" type="text" length="30" maxlength="30" class="validate" required>
            <label for="last_name">Apellido</label>
          </div>
        </div>

        <div class="row">
          <button class="waves-effect waves-light btn col s12 disabled" type="submit">Crear</button>
        </div>

        <div class="row center-align">
          <a style="color:#26a69a;" href="{% url 'login:login' %}">¡Tengo cuenta!</a>
        </div>

      </form>
    </div>
  </div>
{% endblock %}

{% block js %}
<script>
  $("input[type='email']").blur(function(event) {
    $.ajax({
      url: document.location.pathname + "/email",
      type: 'POST',
      headers: {'X-CSRFToken': Cookies.get('csrftoken')},
      dataType: 'json',
      data: {email: $("input[type='email']")[0].value}
    })
    .done(function(data) {
      if (data.message == "occupied") {
        Materialize.toast('Email ya existe', 5000, 'rounded');
        $("div#error_form").text("Email ya existe en nuestros registros.");
        $("button[type='submit']").addClass('disabled');
        $("div#error_email").show();
      } else {
        $("div#error_form").text("");
        $("button[type='submit']").removeClass('disabled');
        $("div#error_email").hide();
      }
    })
    .fail(function() {
      Materialize.toast('Error al comprobar email.', 5000, 'rounded');
    });
  });
</script>
{% endblock %}
