{% extends 'login/base.html' %}

{% block extracss%}
{% endblock %}

{% block extrajs%}
{% endblock %}

{% block title %}
MAs Play
{% endblock %}


{% block content %}
  <div class="contenedor">
    <div class="row">
      <div style="background-color:#26a69a;width:100%;height:100px;margin-bottom:20px;">
        <center>
          <p id="iniciar">Iniciar Sesi&oacute;n</p>
        </center>
      </div>
      <center>
        <div class="switch" style="margin-bottom:20px;">
          <label>
            Alumno
            <input id="check" type="checkbox" onChange="switchForm()">
            <span class="lever"></span>
            Profesor
          </label>
        </div>      
      </center>

      <div class="error-message col s12 center-align" id="error_form"></div>
      
      <!--Student Login-->
        <form class="col s12" id="login_alumno" method="POST"><!--action="login.php"-->
          {% csrf_token %}
          <div class="row">
            <div class="input-field col s12">
              <i class="fa fa-user prefix" aria-hidden="true"></i>
                <input placeholder="123456789-k" id="rut" type="text" class="validate" maxlength="15" length="15" pattern="[0-9]+-[kK0-9]" required>
                <label for="rut">RUT:</label>
            </div>
          </div>          
          
          <div class="row">
            <button class="waves-effect waves-light btn col s12" type="submit">Iniciar</button>
          </div>
        </form>
      <!--Student Login-->

      <!--Teacher Login-->
        <form class="col s12" id="login_profesor" style="display: none;" method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="row">
            <div class="input-field col s12">
              <i class="fa fa-envelope prefix" aria-hidden="true"></i>
                <input placeholder="" name="username" type="email" class="validate" maxlength="100" length="100" required>
                <label for="username">Correo:</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <i class="fa fa-key prefix" aria-hidden="true"></i>
                <input placeholder="" name="password" type="password" class="validate" required>
                <label for="password">Contrase&ntilde;a:</label>
            </div>
          </div>
          
          <div class="row">
            <button class="waves-effect waves-light btn col s12"  type="submit">Iniciar</button>
          </div>

          <div class="row center-align">        
            <a style="color:#26a69a;" href="reestablecer.php">Olvide mi contrase&ntilde;a</a>
            <br>
            <a style="color:#26a69a;" href="{% url 'create_account' %}">Registrarme</a>
          </div>
        </form>
        <!-- Teacher Login -->
    </div>
  </div>
{% endblock %}

{% block js %}
<script>
  function switchForm() {
    if ($("input[type='checkbox']")[0].checked) {
      logTeacher();
    }
    else {
      logStudent();
    }
  }

  function logTeacher() {
    $("input[type='checkbox']")[0].checked = true;
    $("#login_alumno").hide(1000); 
    $("#login_profesor").show(1000);
  }

  function logStudent() {
    $("input[type='checkbox']")[0].checked = false;
    $("#login_profesor").hide(1000);
    $("#login_alumno").show(1000);    
  }
</script>
{% endblock %}
