{% extends 'login/base.html' %}
{%load staticfiles %}

{% block extracss%}
{% endblock %}

{% block extrajs%}
{% endblock %}

{% block title %}
MAs Play
{% endblock %}


{% block content %}
  <div class="log-container">
    <div class="row">
      <div class="log-title-container center-align">        
        <div class="log-title">Iniciar Sesi&oacute;n</div>
      </div>
      <center>
        <div class="switch">
          <label>
            Alumno
            <input id="check" type="checkbox" onChange="switchForm()">
            <span class="lever"></span>
            Profesor
          </label>
        </div>
      </center>

      <div class="error-message col s12 center-align" id="error_form"></div>
      
      <!--Student Login-->
      <form class="col s12" id="login_alumno" method="POST" action="{% url 'login:login' %}">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s12">
            <i class="fa fa-user prefix" aria-hidden="true"></i>
              <input class="validate" name="username" type="text" placeholder="123456789-K"  maxlength="15" pattern="[0-9]+-[kK0-9]" required>
              <label for="username">RUT</label>
          </div>
        </div>        
        <div class="row">
          <button class="waves-effect waves-light btn col s12" type="submit">Iniciar</button>
        </div>
      </form>
      <!--Student Login-->

      <!--Teacher Login-->
      <form class="col s12" id="login_profesor" style="display: none;" method="POST" action="{% url 'login:login' %}">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s12">
            <i class="fa fa-envelope prefix" aria-hidden="true"></i>
              <input placeholder="" name="username" type="email" class="validate" maxlength="254" required>
              <label for="username">Correo:</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <i class="fa fa-key prefix" aria-hidden="true"></i>
              <input placeholder="" name="password" type="password" class="validate" required>
              <label for="password">Contrase&ntilde;a:</label>
          </div>
        </div>
        
        <div class="row">
          <button class="waves-effect waves-light btn col s12"  type="submit">Iniciar</button>
        </div>

        <div class="row center-align">        
          <a style="color:#26a69a;" href="reestablecer.php">Olvide mi contrase&ntilde;a</a>
          <br>
          <a style="color:#26a69a;" href="{% url 'login:create_account' %}">Registrarme</a>
        </div>
      </form>
      <!-- Teacher Login -->
    </div>
  </div>
{% endblock %}

{% block js %}
{% endblock %}
