{% extends 'teacher/base.html' %}
{%load staticfiles %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/formative.create.css' %}">
<style type="text/css">
  form .row {
    margin-bottom: 0px;
  }
  .card-panel {
    padding: 10px !important;
  }
  .collection {
    overflow: initial;
  }
  .collection-item {
    cursor: move;
  }
</style>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.ui.touch-punch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/formative.create.js' %}"></script>
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block page-title %}
  {% if form.name.value != None %}
    Editar Formativa {{ form.name.value }}
  {% else %}
    Crear Formativa
  {% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12 m6 l6">
    <ul class="collection">
      <li class="collection-item">
        <form id="form-new-formative" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="input-field col s12">
              {{ form.name }}
              <label for="{{ form.name.id_for_label }}">Nombre de la formativa</label>
            </div>        
          </div>
          <div class="row">
            <div class="input-field col s12">
              {{ form.description }}
              <label for="{{ form.description.id_for_label }}">Descripción de la formativa</label>
            </div>
          </div>
          <div class="row">
            <label>Preguntas de la formativa</label>
            <div class="input-field col s12">
              {% if question_selected %}
              <ul id="formative-questions" class="collection connectedSortable">
                {% for question in question_selected %}
                <li class="collection-item" data-id="{{ question.id }}">{{ question.title }} - {{ question.type }}</li>
                {% endfor %}
              </ul>
              {% else %}
              <ul id="formative-questions" class="collection connectedSortable valign-wrapper center-align">
                <h5 style="padding: 7px;">Arrastre desde la derecha las preguntas que desea asignar en esta formativa</h5>
              </ul>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <span class="col s12 center-align">* Las preguntas se le mostraran al estudiante en el mismo orden</span>
            <div class="right-align">
              <button class="btn waves-effect waves-light" type="submit">
                Guardar
                <i class="fa fa-send right"></i>
              </button>
            </div>
          </div>  
        </form>
      </li>
    </ul>
  </div>
  
  <div class="col s12 m6 l6">
    <ul class="collection with-header">
      <li class="collection-header">
        <div class="valign-wrapper" style="margin-bottom: 0px">
          <div class="center-align col s12">
            <h5>Mis Preguntas</h5>
          </div>
        </div>
      </li>
      <li class="collection-item">
        <div class="input-field">
          <i class="material-icons prefix fa fa-search" aria-hidden="true"></i>
          <input type="text" id="search-input">
          <label for="search-input">Buscar entre mis preguntas</label>
        </div>
        <div>
          {% if questions %}
            <ul id="list-question-for-formative" class="collection connectedSortable">
            {% for question in questions %}
              <li class="collection-item" data-id="{{ question.id }}">{{ question.title }} - {{ question.type }}</li>
            {% endfor %}
            </ul>
          {% else %}
            <a href="#">
              <div class="card-panel hoverable teal">
                 <span class="white-text">Cree su primera pregunta</span>
              </div>
            </a>
          {% endif %}
        </div>
      </li>
    </ul>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
    $('#nav-mobile ul.collapsible li#new_formative').addClass('active').parent().parent().show().parent().addClass('active')
  });
</script>
{% endblock %}