{% extends 'teacher/base.html' %}

{% block extracss %}
<style type="text/css">
  .clickable-row {
    cursor: pointer;
  }
</style>
{% endblock %}

{% block extrajs %}
{% endblock %}

{% block title %}
MAs Play - Mis Formativas
{% endblock %}

{% block page-title %}
Mis Formativas
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
    <table class="col s12 bordered card-box">
      <thead>
        <tr>
          <th data-field="name">Nombre</th>
          <th data-field="description">Descripci&oacute;n</th>
          <th class="center-align" data-field="edit">Modificar</th>
          <th class="center-align" data-field="delete">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        {% for formative in formatives %}
        <tr class="clickable-row hoverable" data-href="{% url 'formative:show' formative.id %}">
          <td>{{ formative.name }}</td>
          <td>{{ formative.description }}</td>
          <td class="center-align">
            <a href="{% url 'formative:edit' formative.id %}">
              <i class="fa fa-pencil fa-lg black-text"></i>
            </a>
          </td>
          <td class="center-align">
            <a href="#delete_{{formative.id}}">
              <i class="fa fa-trash-o fa-lg black-text"></i>
            </a>
          </td>
        </tr>
        <!-- Delete Modal -->
        <div id="delete_{{formative.id}}" class="modal">
          <div class="modal-content">
            <h4>¡Cuidado!</h4>
            <p>¿Realmente desea eliminar la formativa {{ formative.name }}?</p>
          </div>
          <div class="modal-footer">
            <form action="#" method="POST">
              {% csrf_token %}
              <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">No, cancelar</a>
              <button class="modal-action modal-close waves-effect waves-green btn-flat">Si, eliminar</button>
            </form>
          </div>
        </div>
        <!-- End delete modal -->
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
<script>
  $('.modal').modal();
  $(document).ready(function() {
    $('#nav-mobile ul.collapsible li#list_formatives').addClass('active').parent().parent().show().parent().addClass('active')

    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });

    {% if messages %}
    {% for message in messages %}
      Materialize.toast('{{message}}', 5000, 'rounded');
    {% endfor %}
    {% endif %}
  });
</script>
{% endblock %}
