{% extends 'teacher/base.html' %}
{%load staticfiles %}

{% block extracss %}
<style type="text/css">
  .modal {
    width: 75% !important;
  }
  .card-panel {
    padding: 10px !important;
  }
  /*div#add_student a#add {
    position: relative;
    top: -28px;
  }*/
</style>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'js/library/js.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/course.show.js' %}"></script>
{% endblock %}

{% block title %}
  MAs Play - {{formative.name}}
{% endblock %}

{% block page-title %}
  {{formative.name}}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12 m12 l7">
    <ul class="collection with-header">
      <li class="collection-header">
        <div class="row valign-wrapper" style="margin-bottom: 0px">
          <div class="left-align col s6">
            <h5>Formativas</h5>
          </div>
          <div class="valign right-align col s6">                
            <a href="#" class="tooltipped" data-position="left" data-delay="50" data-tooltip="Ver todas">
              <i class="fa fa-list fa-2x" style="color: #000000"></i>
            </a>
            <a href="#" class="tooltipped" data-position="left" data-delay="50" data-tooltip="Nueva">
              <i class="fa fa-plus-square fa-2x" style="padding-left: 10px; color: #000000;"></i>                
            </a> 
          </div>
        </div>
      </li>
      <li class="collection-item center-align">
        <div class="row">
        {% if formatives %}
        {% else %}
          <div clas="col s12 m5">
            <div class="card-panel teal">
              <span class="white-text">Asigne su primera formativa al curso</span>
            </div>
          </div>
        {% endif %}
        </div>
      </li>      
    </ul>
  </div>

  <div class="col s12 m12 l5">
    <ul class="collection with-header">
      <li class="collection-header">
        <div class="row valign-wrapper" style="margin-bottom: 0px">
          <div class="left-align col s6">
            <h5>Estudiantes<h5>
          </div>
          <div class="valign right-align col s6">                
          <!--
            <a href="#" class="tooltipped" data-position="left" data-delay="50" data-tooltip="Ver todos">
              <i class="fa fa-list fa-2x" style="color: #000000"></i>
            </a>
            -->
            <a href="#add_student" class="tooltipped" data-position="left" data-delay="50" data-tooltip="Agregar estudiantes">
              <i class="fa fa-plus-square fa-2x" style="padding-left: 10px; color: #000000;"></i>                
            </a>
          </div>
        </div>
      </li>
      <li class="collection-item center-align">
        <div id="list_students" class="row" style="max-height: 400px; overflow-y: auto;">
          {% if students %}
          <span>Estudiantes inscritos: <span data-count='{{ students.count }}'>{{ students.count }}</span></span>
          {% for student in students %}
          <div class="card-panel hoverable teal col s12">
            <div class="col s10">
              <div class="col s12 white-text left-align">{{student.rut}}</div>
              <div class="col s12 white-text left-align">{{student.first_name|title}} {{student.last_name|title}}</div>
            </div>
            <div class="valign-wrapper col s2">
              <a href="#">
                <i class="fa fa-trash-o fa-2x col s12" style="color: #fff;"></i>
              </a>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <div clas="col s12">
            <a href="#add_student">
              <div class="card-panel teal">
                  <span class="white-text">Agrege alumnos al curso</span><br>
              </div>
            </a>
          </div>
          {% endif %}
        </div>
      </li>      
    </ul>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
{% endblock %}